AddDefaultCharset utf-8
Options +FollowSymLinks
Options -Indexes

RewriteEngine on

## https://basecamp.com/1763145/projects/6824300/todos/189350846
RewriteRule ^(spisok-bloggerov|spisok-brendov|fashion|lifestyle|beauty)$ /about [R=302,L]

RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]

#AuthType Basic
#AuthName "Access restricted"
#AuthUserFile  /var/www/rikardo/.htpasswd
#require valid-user