AddDefaultCharset utf-8
Options +FollowSymLinks
Options -Indexes

RewriteEngine on

RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]

#AuthType Basic
#AuthName "Access restricted"
#AuthUserFile  /var/www/rikardo/.htpasswd
#require valid-user

#Redirect 302 spisok-bloggerov /about
#Redirect 302 fashion /about
#Redirect 302 lifestyle /about
#Redirect 302 beauty /about

RewriteRule ^spisok-bloggerov$ /about [R=302,L]