extends layout

block vars
  - var title = 'Категория'
  - var auth = false
  - var active_page = 'category.html'

block content
    .wrapper
        .container_12
            .grid_12
                .category-header.header-lite
                    .header__title О проекте
            .clearfix
            .grid_12.reg-content.border-none
                .dashboard-tab
                    .reg-content__left
                        .reg-text
                            p.
                                Hi everyone!  I’m Wendy. I find inspiration in art, nature, culture, architecture, food, people, and music. And for me, fashion is a compilation of all that. Fashion is a vehicle for me to play with shapes and colors in order to uncover my personal style.
                                In addition to fashion, I’m also very passionate about juvenile justice.  I went through foster care, carried my belongings in a trash bag and worried about being homeless at the age of 18.  I worked three jobs in high school to save enough money to go to college and as a result feel truly blessed to have had the opportunity to do so.  I finished high school with honors, emancipated from the foster care system, and went to the University of California, Berkeley, where I graduated with a bachelor’s degree in Psychology.
                                Throughout my sophomore to senior year in college, I volunteered as a counselor at the Berkeley Free Clinic providing mental health services to the homeless community and also as a visiting teacher at Harding Elementary working with underprivileged students.  After college, I continued to work with marginalized communities, mainly as an educator.  I volunteered at the San Francisco Juvenile Detention Center, working with incarcerated youths in the maximum security unit, for over a year and a half.   Most of these youths, like me, were from broken homes and/or foster care.  I taught the high school curriculum with the goal of helping these youths pass the high school exit exam, so they’ll have a second chance in life once they leave juvenile hall.  Currently, I’m based in Los Angeles and volunteer at InsideOutWriters, a non-profit organization that provides mentorship to previously incarcerated youths.
                                I’m forever thankful to my friends, who I consider my family, my dear brother, and my amazing boyfriend for all of their support and love.  I feel truly blessed in life.
                                Thank you so much for reading!
                    .reg-content__right.right-links
                        .right-title
                            a(href="about.html").active О проекте
                        //- .right-title
                        //-     a(href="#") Реклама на сайте
                        .right-title
                            a(href="help.html") Помощь
                        .right-title
                            a(href="contact-us.html") Связаться с нами
                    .clearfix
            .clearfix