header.header
    .header__top
        .wrapper
            .container_12
                .grid_12
                    - var header_menu = [{"name":"О проекте", "link": "#"},{"name":"Связаться с нами", "link": "#"}];
                    nav.header__nav
                        ul
                            each option in header_menu
                                li
                                    a(href="#{option.link}") #{option.name}
                    .header__login
                        a(href="#").header__user
                            i.svg-icon.icon-uniE609
                            span Анна Антропова
                .clearfix
    .wrapper
        .container_12
            .grid_12
                .header__bottom
                    a(href="#").bottom__search
                    a(href="#").bottom__logo
                    nav.bottom__nav
                        a(href="#") Fashion
                        a(href="#") Beauty
                        a(href="#") Lifestyle
            .clearfix
