extends layout

block vars
  - var title = 'Главная'
  - var auth = false

block content
    header
        .wrapper
            .container_12
                .grid_12
                    ul.posts-slider.clearfix
                        each i in [1,2,3,4,5,6]
                            li.slider__item
                                .item__cont(style="background-image: url(images/tmp/slider-post-#{i}.jpg);")
                                    .post-card
                                        .item__date
                                            a(href="category.html").post-photo__alt Lifestyle
                                            a(href="post.html") ЯНВ 26, 2015
                                        .item__title
                                            a(href="post.html") САПОГИ ОСЕНИ. ТЕНДЕНЦИИ И ЛУКБУКИ
                                        .item__author
                                            a(href="post.html") 
                                                .author__photo
                                                    .profile-ava.ava-min.ava-empty(data-empty-name="Анна Антропова")
                                                        img(src="images/tmp/profile-photo_max.jpg")
                                                        .ava-image__empty
                                                            span.js-empty-chars
                                                .author__name Елена Руденко
                    .posts-slider__nav

                .clearfix
                .grid_12.reg-content
                    .dashboard-tab
                        .reg-content__left
                            ul.dashboard-list.js-posts
                                each i in [1,2,3]
                                    li.dashboard-item.js-post
                                        .left-block
                                            .profile-ava.ava-min.ava-empty(data-empty-name="Анна Антропова")
                                                img(src="images/tmp/profile-photo_max.jpg")
                                                .ava-image__empty
                                                    span.js-empty-chars
                                            .profile-name Дурнев Константин
                                        .right-block
                                            .right-block__pad
                                                .post-photo
                                                    img(src="images/tmp/post-photo-1.jpg" alt="")
                                                    .post-photo__alt Shopping
                                                .post-info
                                                    .post-info__title
                                                        a(href="post.html") Новая коллекция обуви сезон 2014–2015
                                                    .post-info__desc В 1947 году, когда Европа только начала восстанавливаться после пятилетней войны, Кристиан Диор создал силуэт, который навсегда вошел в историю под названием New Look. Этим, без сомнения, главным своим изобретением дизайнер сделал выдающийся вклад в мировую моду. 
                                                .post-footer
                                                    span.post-footer__date ЯНВ 26, 2015
                                                    span.post-footer__statisctics
                                                        span.statisctics-item
                                                            i.svg-icon.icon-eye
                                                            | 24
                                                        span.statisctics-item
                                                            i.svg-icon.icon-like
                                                            | 56
                                                        span.statisctics-item
                                                            i.svg-icon.icon-comments
                                                            | 36
                            .dashboard-btn-more
                                form(action="json/get_posts_no_auth.json").js-more-posts
                                    button(type="submit").white-black-btn Показать больше Fashion
                                    p.js-response-text
                        .reg-content__right
                            .right-title TOP POSTS
                            .right-content
                                ul.right-content__list.list-big
                                    each i in [1,2,3,4]
                                        li.list__item
                                            a(href="post.html").item__photo
                                                img(src="http://dummyimage.com/120x120/000/fff" alt="")
                                            .item__text
                                                .text__subject
                                                    a(href="category.html") Lifestyle
                                                .text__title
                                                    a(href="post.html") Почему американский сэндвичный хлеб хранится в 20 раз дольше, чем российский?
                                                .text__author
                                                    a(href="post.html") Antony Granichniy
                                                .text__views
                                                    i.svg-icon.icon-eye
                                                    | 3987
                                            .clearfix
                            .right-title Top bloggers
                            .right-content
                                ul.right-content__list
                                    each i in [1,2,3,4,5]
                                        li.list__item
                                            a(href="#").item__photo
                                                img(src="http://dummyimage.com/60x60/000/fff" alt="")
                                            .item__text
                                                a(href="#") Carlo Pozorlini
                                a(href="#").right-content__all-link All blogs
                            .right-title Top brands
                            .right-content
                                ul.right-content__list
                                    each i in [1,2,3,4]
                                        li.list__item
                                            a(href="#").item__photo
                                                img(src="http://dummyimage.com/60x60/000/fff" alt="")
                                            .item__text
                                                a(href="#") Carlo Pozorlini
                                a(href="#").right-content__all-link All brands
                        .clearfix
                .clearfix

