doctype html
- var title = 'LookBook'
- var showHeader = true
- var showFooter = true
- var auth = false

block vars 
    
html.no-js(lang="")
  head
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui")
    title #{title}
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='../bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css')
    link(rel='stylesheet', href='../bower_components/jquery-ui/themes/base/selectable.css')
    link(rel='stylesheet', href='../bower_components/jquery-ui/themes/base/selectmenu.css')
    link(rel='stylesheet', href='../bower_components/cropper/dist/cropper.css')
    link(rel='stylesheet', href='../bower_components/fotorama/fotorama.css')
    // endbower
    // endbuild
    // build:css styles/main.css
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="styles/main.css")
    // endbuild
    // build:js scripts/vendor/modernizr.js
    script(src="../bower_components/modernizr/modernizr.js")
    // endbuild
  body
    
    if(showHeader)
        if(!auth)
            include header
        if(auth)
            include header_auth
    block content
    if(showFooter)
        include footer

    // build:js scripts/vendor.js
    // bower:js
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='../bower_components/jquery-validation/dist/jquery.validate.js')
    script(src='../bower_components/jquery-validation/src/additional/extension.js')
    script(src='../bower_components/jquery-form/jquery.form.js')
    script(src='../bower_components/autosize/dest/autosize.js')
    script(src='../bower_components/jquery-ui/jquery-ui.js')
    script(src='../bower_components/cropper/dist/cropper.js')
    script(src='../bower_components/fotorama/fotorama.js')
    // endbower
    // endbuild
    // build:js scripts/main.js
    script(src="scripts/main.js")
    // endbuild