extends layout

block vars
  - var title = 'Профиль блоггера'
  - var auth = true
  - var profile_active = 'profile_auth_main_empty.html'

block content
    header
        .wrapper
            .container_12
                .grid_12
                    include profile_auth_header
                .clearfix
                .grid_12.reg-content
                    .dashboard-tab
                        .reg-content__left
                            .dashboard-btn
                                a(href="#").white-black-btn Создать новый пост
                            ul.dashboard-list
                                li.dashboard-item
                                    .left-block
                                        .profile-ava.ava-min.ava-empty(data-empty-name="Анна Антропова")
                                            img(src="images/tmp/profile-photo_max.jpg")
                                            .ava-image__empty
                                                span.js-empty-chars
                                        .profile-name Дурнев Константин
                                    .right-block
                                        .post-photo
                                            img(src="images/tmp/post-photo-1.jpg" alt="")
                                            .post-photo__alt Shopping
                                        .post-info
                                            .post-info__title
                                                a(href="#") Новая коллекция обуви сезон 2014–2015
                                            .post-info__desc В 1947 году, когда Европа только начала восстанавливаться после пятилетней войны, Кристиан Диор создал силуэт, который навсегда вошел в историю под названием New Look. Этим, без сомнения, главным своим изобретением дизайнер сделал выдающийся вклад в мировую моду. 
                                        .post-footer
                                            span.post-footer__date ЯНВ 26, 2015
                                            span.post-footer__statisctics
                                                a(href="#").statisctics-item
                                                    i.svg-icon.icon-eye
                                                    | 24
                                                a(href="#").statisctics-item
                                                    i.svg-icon.icon-like
                                                    | 56
                                                a(href="#").statisctics-item
                                                    i.svg-icon.icon-comments
                                                    | 36
                                        .post-actions
                                            span.actions__title Действия
                                            a(href="#").actions__item.action-edit Редактировать
                                            a(href="#").actions__item.action-comment Комментировать
                                            a(href="#").actions__item.action-delete Удалить
                            .dashboard-btn-more
                                a(href="#").white-black-btn Загрузить еще постов
                        .reg-content__right
                            .right-title БЛОГИ РЕКОМЕНДОВАННЫЕ LOOKBOOK
                            .right-content У вас еще нет рекомендованных блогов.
                            .right-title МОЙ БЛОГ-ЛИСТ
                            .right-content Вы еще не добавили ни один блог в свой блог-лист.<br>Читайте <a href="#">TOP POST</a> и выбирайте любимые.
                        .clearfix
                .clearfix

