.user-header
    // Добавляем класс ava-empty если аватарки нету
    // Добавляем имя пользователя в атрибут data-empty-name (В любом случае, для формирования аватарки)
    .header__photo.js-ava-cont(data-empty-name="Анна Антропова")
        img(src="images/tmp/profile-photo_max.jpg")
        .ava-image__empty
            span.js-empty-chars
    .header__info
        .info__name.js-fit-parent
            h1.js-fit-text Анна Антропова
        .info__auth-nav
            - var authNavOptions = [{"name": "Дешборд", "link": "profile_auth_main_empty.html", "active": true},{"name": "Мой профиль", "link": "profile_auth_settings.html"},{"name": "Настройка уведомлений", "link": "notifications"},{"name": "Реклама", "link": "adv"}]
            each option in authNavOptions
                a(href="#{option.link}" class=option.link==profile_active?'active':'') #{option.name}
    .clearfix
