.profile-ava {
    position: relative;
    overflow: hidden;

    &.ava-min {
        width: 60px;
        height: 60px;
        display: inline-block;

        .ava-image__empty {
            font-size: 1.5em;
        }
    }

    img {
        max-width: 100%;
    }
}