.posts-slider-cont {
    position: relative;
    overflow: hidden;
}

.posts-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 30px 0 25px;

    &.with-transition {
        transition: all .5s ease;
    }

    &.to-left {
        transform: translateX(-107%);
    }

    &.to-right {
        transform: translateX(107%);
    }

    &.out-left {
        transform: translateX(-214%);
    }

    &.out-right {
        transform: translateX(214%);
    }

    .slider__item {
        position: relative;
        float: left;
        width: 33.3333333%;
        margin-top: 50px;

        &:nth-child(1), &:nth-child(2), &:nth-child(3) {
            margin-top: 0;
        }

        &:nth-of-type(3n-1) {
            text-align: center;
        }

        &:nth-of-type(3n) {
            text-align: right;
        }

        .item__cont {
            position: relative;
            display: inline-block;
            vertical-align: top;
            width: 355px;
            max-width: 95%;
            height: 355px;
            text-align: left;
            background-size: cover;
            background-position: center center;

            .post-card {
                position: absolute;
                bottom: 30px;
                left: 25px;
                right: 25px;
                background: #fff;
                padding: 3px 18px 18px 18px;
            }
        }
    }
}

.js-collage {
    opacity: 0;

    & > li {
        transition: all 1s ease;

        .post-card {
            //opacity: 0;
            transition: all .5s ease;
        }

        &:hover {
            .post-card {
                opacity: 1;
            }
        }
    }

    &.active {
        transition: all 1s ease;
        opacity: 1;
    }

    &.fast-animation {
        & > li {
            transition: all .5s ease;
        }
    }
}

.posts-slider__nav {
    padding: 15px 0 25px;
    height: 9px;
    line-height: 9px;
    border-top: 1px solid $borderColor;
    text-align: center;
}

.post-card {
    a {
        color: inherit !important;
        text-decoration: none;
        border: none !important;
    }

    .item__date {
        margin-top: 10px;
        font-size: 12px;
        font-weight: 300;
        color: #777;
        text-transform: uppercase;

        .post-photo__alt {
            font-weight: 500;
            color: $blue !important;
            margin-right: 10px;
        }
    }

    .item__title {
        @extend .bodonic;
        font-size: 20px;
        font-style: italic;
        text-transform: uppercase;
        margin-top: 10px;
    }

    .item__author {
        margin-top: 10px;
        line-height: 25px;

        .author__photo {
            float: left;
            margin-right: 7px;

            .profile-ava {
                width: 25px;
                height: 25px;
                font-size: 8px;
            }
        }

        .author__name {
            font-size: 12px;
            font-weight: 500;
        }
    }
}