.user-header.user-page-header
    .header__photo.js-ava-cont.ava-empty(data-empty-name="Анна Антропова")
        //img(src="images/tmp/profile-photo_max.jpg")
        .ava-image__empty
            span.js-empty-chars
    .header__info
        .info__name.js-fit-parent
            h1.js-fit-text Анна Антропова
        .info__quote Пестрыми строками по утонченной мод ...
        .info__nav
            a(href="#").white-black-btn Все посты Анны Антроповой
            form(action="json/test.json").js-action-btn
                input(type="hidden" name="blogger_id" value="2")
                input(type="hidden" name="user_id" value="33")
                button(type="submit").white-black-btn Добавить в мой блог лист
    .clearfix
    .header__best-top
