h1 {
    @extend .lato;
    font-size: 64px;
    font-weight: 200;
    text-transform: uppercase;
}

.reg-italic {
    font-family: 'bodonic';
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
}

.us-link {
    @extend .linkTrans;
    color: $blue;
    text-decoration: none;
    border-bottom: 1px solid;

    &:hover {
        border-color: transparent;
    }
}

.white-btn {
    @extend .reg-italic;
    @extend .linkTrans;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    height: 38px;
    line-height: 36px;
    border: 1px solid;
    padding: 0 35px;

    &:hover {
        color: $blue;
    }
}

.white-black-btn {
    @extend .reg-italic;
    @extend .linkTrans;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    height: 38px;
    line-height: 36px;
    border: 1px solid;
    padding: 0 35px;

    &:hover {
        background: #333;
        color: #fff;
    }
}

.us-btn {
    @extend .reg-italic;
    @extend .linkTrans;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    padding: 0 23px;
    border: none;
    background: #333333;
    color: #fff;

    &:after {
        @extend .fontawesome;
        content: "\f110";
        position: absolute;
        right: 20px;
        top: .75em;
        opacity: 0;
        transition: opacity .2s ease;
    }

    &:hover {
        background: #fff;
        color: #4bbeff;
    }

    &:focus {
        outline: none;
    }

    &.loading {
        background: #333333;
        padding-right: 50px;
        color: #fff;

        &:after {
            opacity: 1;
            animation: fa-spin 1s infinite steps(8);
        }
    }

    &.blue-hover {
        &:hover {
            color: #fff;
            background: $blue;
        }
    }
}