h1 {
    @extend .lato;
    font-size: 64px;
    font-weight: 200;
    text-transform: uppercase;
}

.reg-italic {
    font-family: 'bodonic';
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
}

.us-link {
    @extend .linkTrans;
    color: $blue;
    text-decoration: none;
    border-bottom: 1px solid;

    &:hover {
        border-color: transparent;
    }
}

.white-btn {
    @extend .reg-italic;
    @extend .linkTrans;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    height: 38px;
    line-height: 36px;
    border: 1px solid;
    padding: 0 35px;
    background: transparent;
    outline: none;

    &:hover {
        color: $blue;
    }

    .svg-icon {
        display: inline-block;
        vertical-align: middle;
        color: $blue;
        margin-right: 18px;

        &.icon-edit {
            font-size: 38px;
            width: 23px;
        }

        &.icon-comments {
            font-size: 30px;
            width: 22px;
        }

        &.icon-cross {
            position: relative;
            top: -.05em;
            font-size: 22px;
            width: 19px;
        }
    }
}

.white-black-btn {
    @extend .reg-italic;
    @extend .linkTrans;
    @extend .loading-black-btn;
    position: relative;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    height: 38px;
    line-height: 36px;
    border: 1px solid;
    outline: none;
    padding: 0 35px;
    background: transparent;

    &:hover {
        background: #333;
        color: #fff;
    }
}

.us-btn {
    @extend .reg-italic;
    @extend .linkTrans;
    @extend .loading-black-btn;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    padding: 0 23px;
    border: none;
    background: #333333;
    color: #fff;

    &:hover {
        background: #fff;
        color: #4bbeff;
    }

    &:focus {
        outline: none;
    }

    &.blue-hover {
        &:hover {
            color: #fff;
            background: $blue;
        }
    }

    &.gray-btn {
        background: #cccccc;
        color: #444444;

        &:hover {
            background: #333333;
            color: #ffffff;
        }
    }
}

.us-input {
    box-sizing: border-box;
    height: 40px;
    border: 1px solid #cccccc;
    width: 100%;
    padding: 0 15px;
    outline: none;
}

.inline-block {
    display: inline-block;
}

.opacity05 {
    opacity: .5;
}

.category-name {
    color: $blue;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;

    a {
        border: none !important;
    }
}

.ui-widget {
    font-family: "Lato";
    font-weight: 500;
}

.ui-selectmenu-menu {
    .ui-menu {
        border-top: none;
    }

    .ui-menu-item {
        padding: 0 15px;
        height: 40px;
        line-height: 40px;
        box-sizing: border-box;
        font-size: 15px;

        &.ui-state-focus {
            background: #ccc;
            border: none;
            margin: 0;
        }
    }
}